<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI with Bootstrap</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{{ url_for('static', path='assets/images/logo/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='assets/images/logo/favicon.png') }}">

    <!-- core dependcies css -->
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/bootstrap/dist/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/PACE/themes/blue/pace-theme-minimal.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css') }}" />

    <!-- page css -->

    <!-- core css -->
    <link href="{{ url_for('static', path='assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='assets/css/themify-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='assets/css/materialdesignicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='assets/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='assets/css/app.css') }}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-header">
                    <h2 class="header-title">Тестовое задание "Создание REST API приложения"</h2>
                </div>                
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- build:js assets/js/vendor.js -->
    <!-- core dependcies js -->
    <script src="{{ url_for('static', path='assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='assets/vendor/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', path='assets/vendor/PACE/pace.min.js') }}"></script>
    <script src="{{ url_for('static', path='assets/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js') }}"></script>     
    <script src="{{ url_for('static', path='assets/vendor/d3/d3.min.js') }}"></script>
    <!-- endbuild -->

    <!-- build:js assets/js/app.min.js -->
    <!-- core js -->
    <script src="{{ url_for('static', path='assets/js/app.js') }}"></script>
    <!-- configurator js -->
    <script src="{{ url_for('static', path='assets/js/configurator.js') }}"></script>
    <!-- endbuild -->
</body>
</html>