{% extends "base.html" %}

{% block content %}        
<div class="card">
    <div class="card-body">
        <h5>Описание.</h5>
        <p>Необходимо реализовать REST API приложения для справочника Организаций, Зданий, Деятельности.
            <form id="infoForm" action="/info" method="get">
                <button class="btn btn-info btn-rounded" type="submit">Подробно</button>
            </form>
        </div>
    </div>
</div>

<!-- Верхняя часть для карточек и запросов -->
<div class="card">
    <div class="card-body">
        <h5>Запросы</h5>
        <div class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">список всех организаций находящихся в конкретном здании.</p>
                            <div class="m-t-20">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle"  data-toggle="dropdown">
                                        <span>Здание</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">список всех организаций, которые относятся к указанному виду деятельности.</p>
                            <div class="m-t-20">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle"  data-toggle="dropdown">
                                        <span>Деятельность</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Нижняя часть для таблицы результатов -->
<div class="card">
    <div class="card-body">
        <h5>Результаты</h5>

        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <!-- Здесь будут динамически добавляться строки с результатами -->
        </tbody>
        </table>
    </div>
</div>

{% endblock %}

