{% extends "base.html" %}

{% block content %}        
<div class="card">
    <div class="card-body">
        <h5>Описание.</h5>
        <p>Необходимо реализовать REST API приложения для справочника Организаций, Зданий, Деятельности.
            <form id="infoForm" action="/info" method="get">
                <button class="btn btn-info btn-rounded" type="submit">Подробно</button>
            </form>
        </div>
    </div>
</div>

<!-- Верхняя часть для карточек и запросов -->
<div class="card">
    <div class="card-body">
        <h5>Запросы</h5>
        <div class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">список всех организаций находящихся в конкретном здании.</p>
                            <form id="buildForm1" method="post" action="/organizations/building/">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label class="control-label">Выбор здания</label>
                                                <select class="form-control" id="building_id1">
                                                    {% for building in buildings %}
                                                        <option value="{{ building.id }}">{{ building.address }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="m-20">
                                            <button type="submit" class="btn btn-success btn-rounded">Success</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">список всех организаций, которые относятся к указанному виду деятельности.</p>
                            <form id="activityForm1" method="post" action="/organizations/activity/">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label class="control-label">Выбор деятельности</label>
                                                <select class="form-control">
                                                    {% for activity in activities %}
                                                    <option>{{ activity.id }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="m-20">
                                            <button type="submit" class="btn btn-success btn-rounded">Success</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">список организаций, которые находятся в заданном радиусе/прямоугольной области относительно указанной точки на карте. список зданий.</p>
                            <form id="nearbyForm" method="post" action="/organizations/nearby/">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="m-20">
                                            <div class="form-group">
                                                <label class="control-label">latitude</label>
                                                <input type="text" name="latitude" id="latitude" class="form-control form-control-sm" placeholder="latitude">
                                                <label class="control-label">longitude</label>
                                                <input type="text" name="longitude" id="longitude" class="form-control form-control-sm" placeholder="longitude">
                                                <label class="control-label">Радиус (км)</label>
                                                <input type="text" name="radius" id="radius" class="form-control form-control-sm" placeholder="radius">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="m-20">
                                            <button type="submit" class="btn btn-success btn-rounded">Success</button>
                                        </div>
                                    </div>
                                </div>  <!-- row -->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">вывод информации об организации по её идентификатору.</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="m-20">
                                        <div class="form-group">
                                            <label class="control-label">Идентификатор организации.</label>
                                            <input type="text" class="form-control form-control-sm" placeholder="id">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="m-20">
                                        <button class="btn btn-success btn-rounded">Success</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">искать организации по виду деятельности (все вложенные).</p>
                            <div class="row">
                                <div class="col-3">
                                    <div class="m-20">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle"  data-toggle="dropdown">
                                                <span>Деятельность</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="m-20">
                                        <button class="btn btn-success btn-rounded">Success</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">поиск организации по названию.</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="m-20">
                                        <div class="form-group">
                                            <label class="control-label">Название организации.</label>
                                            <input type="text" class="form-control form-control-sm" placeholder="name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="m-20">
                                        <button class="btn btn-success btn-rounded">Success</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>

<!-- Нижняя часть для таблицы результатов -->
<div class="card">
    <div class="card-header border bottom">
        <h4 class="card-title">Таблица результатов выборки</h4>
    </div>
<div class="card-body">
        <div id="result"></div>
    </div>
</div>

<script>
    const apiKey = '{{ api_key }}';
    document.getElementById('buildForm1').addEventListener('submit', function(event) {
        console.log('submit');
    
        // отмена действия по умолчанию
        event.preventDefault();

        const response = fetch('/organizations/building', {
            method: 'POST', // Или 'POST', в зависимости от вашего маршрута
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded', // Убедитесь, что заголовок правильный
            },
            body: new URLSearchParams({
                'building_id': document.getElementById('building_id1').value,
                'api_key': apiKey
                })
            })
            .then(resp => resp.text())
            .then(data => {
                console.log('data', typeof data);
                console.log('data', data);
                var target = document.getElementById('result');
                target.innerHTML = data;
            })
            .catch(error => {
                console.error('Ошибка при получении данных:', error);
            });
    });
    document.getElementById('nearbyForm').addEventListener('submit', function(event) {
        console.log('submit');
        // отмена действия по умолчанию
        event.preventDefault();
        const apiKey = 'key12345';

        console.log('latitude', document.getElementById('latitude').value);

        const response = fetch('/organizations/nearby', {
                method: 'POST', // Или 'POST', в зависимости от вашего маршрута
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded', // Убедитесь, что заголовок правильный
                },
                body: new URLSearchParams({
                    'latitude': document.getElementById('latitude').value,
                    'longitude': document.getElementById('longitude').value,
                    'radius': document.getElementById('radius').value,
                    'api_key': apiKey
                })
            })
            .then(resp => resp.text())
            .then(data => {
                console.log('data', typeof data);
                console.log('data', data);
                var target = document.getElementById('result');
                target.innerHTML = data;
            })
            .catch(error => {
                console.error('Ошибка при получении данных:', error);
            });

    });
</script>

{% endblock %}

