{% extends "base.html" %}

{% block content %}        
<h3>Информация</h3>

<h5>Описание.</h5>
<p>   
    Тестовое задание "Создание REST API приложения"
</p>

<h5>Описание.</h5>
<p>   
    Необходимо реализовать REST API приложения для справочника Организаций, Зданий, Деятельности.
</p>

<h5>   
    1.	Организация - Представляет собой карточку организации в справочнике и должна содержать в себе следующую информацию:
</h5>
<ul>
    <li>Название: Например ООО “Рога и Копыта”</li>
    <li>Номер телефона: организация может иметь несколько номеров телефонов (2-222-222, 3-333-333, 8-923-666-13-13)</li>
    <li>Здание: Организация должна находится в одном конкретном здании (Например, Блюхера, 32/1)</li>
    <li>Деятельность: Организация может заниматься несколькими видами деятельностей (Например, “Молочная продукция”, “Мясная продукция”)</li>
</ul>
<h5>    
    2.	Здание - Содержит в себе как минимум информацию о конкретном здании, а именно:
</h5>
<ul>    
    <li>Адрес: Например - г. Москва, ул. Ленина 1, офис 3</li>
    <li>Географические координаты: Местоположение здания должно быть в виде широты и долготы.</li>
</ul>
<h5>    
    3.	Деятельность - позволяет классифицировать род деятельности организаций в каталоге. Имеет название и может в древовидном виде вкладываться друг в друга. Пример возможного дерева деятельности:
</h5>
<ul>
    <li>Еда</li>
    <li>Мясная продукция</li>
    <li>Молочная продукция</li>
    <li>Автомобили</li>
    <li>Грузовые</li>
    <li>Легковые</li>
    <li>Запчасти</li>
    <li>Аксессуары</li>
</ul>
<h5>4. Стэк - стэк fastapi+pydantic+sqlalchemy+alembic</h5>

<h5>Функционал приложения.</h5>
<p>    
    Взаимодействие с пользователем происходит посредством HTTP запросов к API серверу с использованием статического API ключа. Все ответы должны быть в формате JSON. Необходимо реализовать следующие методы:
</p>
<ul>    
    <li>список всех организаций находящихся в конкретном здании</li>
    <li>список всех организаций, которые относятся к указанному виду деятельности</li>
    <li>список организаций, которые находятся в заданном радиусе/прямоугольной области относительно указанной точки на карте. список зданий</li>
    <li>вывод информации об организации по её идентификатору</li>
    <li>искать организации по виду деятельности. Например, поиск по виду деятельности «Еда», которая находится на первом уровне дерева, и чтобы нашлись все организации, которые относятся к видам деятельности, лежащим внутри. Т.е. в результатах поиска должны отобразиться организации с видом деятельности Еда, Мясная продукция, Молочная продукция.</li>
    <li>поиск организации по названию</li>
    <li>ограничить уровень вложенности деятельностей 3 уровням</li>
</ul>

<h5>Задание</h5>
<ul>
    <li>Спроектировать БД + Создать необходимые миграции + Заполнить БД тестовыми данными</li>
    <li>Реализовать API согласно разделу Функционал приложения</li>
    <li>Завернуть приложения в Docker контейнер, чтобы его можно было развернуть на любой машине (Если необходимо, то написать инструкцию по разворачиванию)</li>
    <li>Добавить в проект документацию Swagger UI или Redoc с описанием всех методов приложения.</li>
</ul>

<a href="javascript:history.back()"><h5></h5>Вернуться ...</h5></a>

{% endblock %}

